html {
   
    scroll-behavior: smooth;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    z-index: 999;
    background-size: 100%;
    /* background-image: url(./Image/everaldo-coelho-qYdUUZVWiVY-unsplash.jpg); */
    background-repeat: no-repeat;

    
    background-image: radial-gradient(circle, #907f7f00 100%, rgb(202, 193, 193) 48%),
  radial-gradient(ellipse farthest-corner, rgba(177, 157, 157, 0.4) 20%, #a09891 80%);
   
}

.container {
    display: grid;
    /* grid-template-rows: repeat(8, 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr); */
   
}



.firstRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing:border-box;
    border: solid transparent;
    margin-left: 15em;
    margin-right: 30em;
    margin-top: 0.5em;
}

.profile {
    border-radius: 100%;
    max-height: 15em;
    max-width: 15em;
    border: solid rgb(128, 106, 128, 0.4) 3px
}


.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  
}
.englobe {
    border: solid rgb(135, 112, 112, 0.5) 2px;
    box-sizing: content-box;
    background-color: rgba(77, 77, 75, 0.3);
    box-shadow: 5px 5px 50px rgba(40, 29, 29, 0.4);;
    border-radius: 3%;
    margin-left: 3em;
}

#contact {
   
    font-size: 1.5em;
    background-color: rgb(239, 240, 190,0.5);
    border-radius: 5%;
    box-sizing: border-box;
    margin-top: 0.5em;
    border: solid transparent 1px;
}

#toggle {
   
    margin: 0.2em;
    font-size: 1.5em;
    background-color: rgba(190, 240, 215, 0.9);
    box-shadow: 5px 5px 50px rgba(245, 243, 243, 0.4);
    border-radius: 5%;
    box-sizing: content-box;
    border: solid rgb(135, 131, 131,0.4) 4px;
}

.extra {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    
}
#download {
    
    font-size: 1.5em;
    background-color: rgb(239, 240, 190,0.5);
    border-radius: 2%;
    margin-top: 0.5em;
    box-sizing: content-box;
    border: solid transparent 1px;
  
    
}


hr {
    border: solid rgb(45, 42, 42, 0.7) 0.2em;
    
}

.links {
    background-color: rgb(228, 228, 182, 0.6);
    max-width: 3em;
    max-height: 3em;
    object-fit: contain;
    margin: 0.2em;
    color: black;
    flex-wrap: wrap;
}


.secRow {
   display: flex;
   justify-content: center;
   
}
.bio {
    font: italic;
    margin-left: 10em;
    margin-right: 20em;
    white-space: wrap;
}

.thirdRow {
    display: flex;
   justify-content: center;
   margin-left: 20em;
    margin-right: 25em;
    
    
}
.thirdRow button {
    font-size: 1.5em;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(44, 37, 37,0.3);
    border: solid rgb(99, 98, 98, 0.5) 2px;
    margin: 0.5em;


}
.thirdRow button:nth-child(1) {
    background-color: rgb(250, 167, 167);
}

.thirdRow button:nth-child(2) {
    background-color: rgb(188, 225, 143);
}
.thirdRow button:nth-child(3) {
    background-color: rgb(241, 230, 154);
}

/* Here to change the positions of the page by and large */
.fourthRow {
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 20em;
    
   
}
.fourthRow img {
    
    box-sizing: content-box;
    border: solid black 2px;
    border-radius: 100%;
    max-width: 6em;
    max-height: 6em;
    object-fit: contain;
}


/* .space_img:nth-child(1) .space_img:nth-child(2) .space_img:nth-child(3)  {
    white-space: nowrap;
}
.space_img:nth-child(4) .space_img:nth-child(5) .space_img:nth-child(6) {

} */
.space_img {
    white-space: pre-line;
    margin: 0.2em;
    
  
}

.thumbnails {
    cursor: pointer;
     
    
    z-index:999; 
    transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out; 
    
     
}

.thumbnails:hover { 
    opacity: 0.4;
 }

progress {
    font-size: 2em;
}

#FR {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
}

#EN {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
}

#PT {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
}